@tailwind base;

@tailwind components;

@tailwind utilities;

@font-face {
  font-family: "Poppins";
  src: url('../fonts/Poppins-Regular.ttf') format("truetype");
}

@font-face {
  font-family: "Poppins-bold";
  src: url('../fonts/Poppins-Bold.ttf') format("truetype");
}

@layer base {
  button {
    @apply text-white bg-psred rounded-lg m-1 py-5 px-8 text-xl font-light tracking-wide;
  }
}

